.bodybg {
    -fx-background-image: url('cards/vecteezy_green-casino-poker-table-texture-game-background_24232274.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
